<?xml version="1.0"?>

<launch>

	<node name="vigir_ltl_specification" pkg="vigir_bs_specification" type="ltl_compilation_server.py" output="screen" />
	<node name="vigir_ltl_synthesizer" pkg="vigir_bs_synthesizer" type="ltl_synthesis_server.py" output="screen" />
    <node name="vigir_sm_generation" pkg="vigir_bs_sm_generation" type="bs_sm_generate.py" output="screen" />

	<node name="vigir_behavior_synthesis" pkg="vigir_bs_manager" type="behavior_synthesis_server.py" output="screen" />

</launch>
